$background-color: #0B1E26;
$nav-background: #071319;
$nav-background2: #03090b;
$primary-text: #05F283;
$secondary-text: #FCFEFF;

$var: false;

body {
    background-color: $background-color;
    margin: 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: $nav-background;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0px;
        padding: 10px 0px;

        li {
            font-weight: bold;
            list-style-type: none;
            padding: 10px 25px;
            border-radius: 10px;
            text-align: center;

            a {
                color: $primary-text;
                text-decoration: none;
                text-transform: uppercase;
            }

            &:hover {
                
                background-color: $nav-background2;

                a:hover {
                    text-decoration: underline;
                }

                .submenu {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-evenly;                
                }
            }

            &:not(:hover) {
                .submenu {
                    display: none;
                }
            }
        }
    }
}

